html, body, a, div, section, ol, ul, li, p, header, footer, nav, form, input, button, main {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: inherit;
  background: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  text-size-adjust: none;

}

html {
  width: 100%;
}

body {
  background: #f8db95;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header {
  background: #e0aa27;
  display: flex;
  align-items: center;
  padding: 20px;
}

header > ul {
  display: flex;
  align-items: center;
}

header > ul li {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  color: #f5622c;
  transition: color 0.3s ease;
}

header > ul li > a:hover {
  color: #bc1a16;
  transition: color 0.5s ease;
}

.selected-navlink {
  font-size: 24px;
}

footer {
  display: flex;
  background: #87b34d;
  align-items: center;
  padding: 10px 20px;
}

footer > ul {
  display: flex;
  align-items: center;
}

footer > ul li {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  color: #bc1a16;
}

footer > ul li > a:hover {
  color: #961411;
  transition: color 0.5s ease;
  text-decoration: underline;
}
