html, body, div, section, ul, ol, li, p, header, footer, nav, form, input, button, main {
  font-family: 'Cormorant Garamond', serif;
  font-size: inherit;
  background: transparent;
}

ul, ol {
}

main {
  padding: 20px;
}
