.compressed-trie-list {
  width: 40%;
}

.compressed-trie-list:first-child {
  margin: 0;
  padding: 0;
}

.node {
  border: 1px solid black;
  background: white;
  color: black;
  font-weight: normal;
}

.node.active {
  font-weight: bold;
  color: #b21a00;
  background: #d1d1d1;
}
